<nav class="navbar navbar-light bg-dark">
    <div class="container-fluid">
        <h2 class="text-light primary py-3">STUDENT MANAGMENT SYSTEM</h2>
        <div class="d-flex">
            <button class="btn btn-success">Add student</button><br />;
            <button routerLink="/login" class="btn btn-warning">Logout</button>
        </div>
    </div>
</nav>
<table class="table nt-4">
    <thead>
        <tr>
            <th scope="col">S.ID</th>
            <th scope="col">NAME</th>
            <th scope="col">EMAIL</th>
            <th scope="col">MOBILE</th>
            <th scope="col">CITY</th>
            <th scope="col">ACTION</th>
        </tr>
    </thead>
    <tbody>
        <td>1</td>
        <td>salman</td>
        <td>sk@gmail.com</td>
        <td>778899666</td>
        <td>mumbai</td>
        <td>
            <button class="btn btn-info">Edit</button>
            <button class="btn btn-info">Delete</button>
        </td>
    </tbody>
    <tbody>
        <td>2</td>
        <td>sidharth</td>
        <td>sid@gmail.com</td>
        <td>778899666</td>
        <td>mumbai</td>
        <td>
            <button class="btn btn-info">Edit</button>
            <button class="btn btn-info">Delete</button>
        </td>
    </tbody>
     <tbody>
        <td>3</td>
        <td>shehnaaz</td>
        <td>sana@gmail.com</td>
        <td>778899666</td>
        <td>mumbai</td>
        <td>
            <button class="btn btn-info">Edit</button>
            <button class="btn btn-info">Delete</button>
        </td>
    </tbody>
     <tbody>
        <td>4</td>
        <td>jungkook</td>
        <td>kook@gmail.com</td>
        <td>778899666</td>
        <td>south korea</td>
        <td>
            <button class="btn btn-info">Edit</button>
            <button class="btn btn-info">Delete</button>
        </td>
    </tbody>
    <tbody>
        <td>5</td>
        <td>sunny</td>
        <td>dazl@gmail.com</td>
        <td>778899666</td>
        <td>hyderabad</td>
        <td>
            <button class="btn btn-info">Edit</button>
            <button class="btn btn-info">Delete</button>
        </td>
    </tbody>
    <tbody>
        <td>6</td>
        <td>asim</td>
        <td>riyaz@gmail.com</td>
        <td>778899666</td>
        <td>mumbai</td>
        <td>
            <button class="btn btn-info">Edit</button>
            <button class="btn btn-info">Delete</button>
        </td>
    </tbody>
    <tbody>
        <td>7</td>
        <td>sheffali</td>
        <td>bagga@gmail.com</td>
        <td>778899666</td>
        <td>canada</td>
        <td>
            <button class="btn btn-info">Edit</button>
            <button class="btn btn-info">Delete</button>
        </td>
    </tbody>
    
</table>

